API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7694346964:AAGDLBdH5_dl7MHNVOp44dznZPEH8W40SvQ
LOGGER_ID=-1002121629581
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6846828677
STRING_SESSION=BAGB5kgAttDbpBPlsFLbzy6trJILjDtxKsv77tjv2l_5CL98CHAKwoZIEJd14AicyGH7heiXOErh_vCEdsW6rRXkMm0CIi9jZ2oKclSwp0Pj8gL-bt-JFg1mt8UnhThaDZCSfPOoZHDxuEwKOILwc84viAB6hmhsGF7BXvS1iqGiDaiUBysFJ3ztRWlV7hGe4DSaLuuZfKijACGt6OO8o3Dv0Kqfrjrn5z90Z5wv8_c9vU9iv0G1PrwJoInUNuRDv70pBe0aG9i6NQajibRUy5f6t1eKyiHIC_sKc0Id7CY1mIaTlXfowLUv3oBCb_MIp5NpKJ0ZOzx5lYlfb8NvkitJVqcljwAAAAGUY4NDAA
