API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7318888197:AAEK87gMSPssWWACJcn-VSGZJGy6KJrwCmA
LOGGER_ID=-1002041333828
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1705462968
STRING_SESSION=BAGB5kgAEYN-VD6JpPkdcBkdw_A5v2lj99aEKIgFup316pq6C9fgdPpDch_zecmX2-kRN2HDUem-EHSQGiwAX5v1yb7at7ZAjUOji50AeQZ30zVq2SixPRxrS56RtedTPZL7dwBPibopwXqHeAT80wZGwOo6To24997aLG9KLZCEPbYSFUFlPUIvzkgITOO54BkNb1jBfBDJrvYy68ZrTx1GznWOLWstE2kQSeu6qJyUXu5sukOPbXkwrhOdWf3PCf4O90TUwgbUZXCQ1LjIT61gdMfXOE1XExe9OdGkcS9fdWw59TdBV1ybPUY31izZklYErT_Rz9ClD4WOzwTYvzgvWa8uFwAAAAGWo_tjAA
